<form method="POST" class="mt-5">
    <div class="form-group">
        <label for="login">Логин *</label>
        <input
            type="text"
            value="<%= model.login %>"
            name="login"
            class="form-control"
            id="login"
            required
        >
    </div>

    <div class="form-group">
        <label for="password">Пароль *</label>
        <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            required
        >
    </div>

    <div class="form-group">
        <label for="name">Имя</label>
        <input
            type="text"
            value="<%= model.name %>"
            name="name"
            class="form-control"
            id="name"
        >
    </div>

    <div class="form-group">
        <label for="email">Почта</label>
        <input
            type="text"
            value="<%= model.email %>"
            name="email"
            class="form-control"
            id="email"
        >
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
